
const listDashBoard = [
{{#fields}}
    "{{className}}",
{{/fields}}
]
export default [
{{#fields}}  
	{
        path: '{{className}}',
        component: import('../../components/Admin/{{className}}/index.vue'),
        props: route => ({ TableName: '{{className}}'}), meta: { requiresAuth: true , requiresRoles : ['ADMIN']}
    },
    {
        path: '{{className}}/create',
        component:  () => import('../../components/Admin/{{className}}/Form.vue'),
        props: route => ({ TableName: '{{className}}', action: 'create'}), meta: { requiresAuth: true , requiresRoles : ['ADMIN']}
    },
    {
        path: '{{className}}/view/:id',
        component:  () => import('../../components/Admin/{{className}}/Form.vue'),
        props: route => ({ TableName: '{{className}}', action: 'view', id: route.params.id,}), meta: { requiresAuth: true , requiresRoles : ['ADMIN']}
    },
    {
        path: '{{className}}/update/:id',
        component:  () => import('../../components/Admin/{{className}}/Form.vue'),
        props: route => ({ TableName: '{{className}}', action: 'update', id: route.params.id,}), meta: { requiresAuth: true , requiresRoles : ['ADMIN']}
    },
{{/fields}}
]
