package {{packageName}}.Entity;
import jakarta.persistence.*;

import java.time.*;
import java.math.*;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

@Entity
@Table(name = "{{tableName}}")
@Data
@AllArgsConstructor
@NoArgsConstructor
public class {{className}} {
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
{{#fields}}
    @Column(name = "{{columnName}}")
    private {{javaType}} {{fieldName}};
{{/fields}}
   
{{#foreignKeys}}
    @ManyToOne(fetch = FetchType.LAZY)
    @JoinColumn(name = "{{fkColumnName}}")
    private {{pkClassName}} {{camelFieldName}};
{{/foreignKeys}}

{{#exportKeys}}
    @OneToMany(mappedBy = "{{fkColumnName}}", cascade = CascadeType.ALL, fetch = FetchType.LAZY)
    private List<{{pkClassName}}> {{camelFieldName}};
{{/exportKeys}}



}
