package {{packageName}}.Mapper;

import java.time.LocalDateTime;
import {{packageName}}.DTOS.*;
import {{packageName}}.Entity.*;
import {{packageName}}.Service.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
@Component
public class {{className}}Mapper {
	{{#foreignService}}
	@Autowired
	private {{classNameService}}Service {{variableNameService}}Service;
	{{/foreignService}}
	
	public {{className}}DTOS mapper({{className}} entity) {
		return new {{className}}DTOS(
				{{#fields}}
				    {{fieldName}}
				{{/fields}}
			);
	}
	public {{className}} mapperToObject({{className}}DTOS entity) {
		return new {{className}}(
				{{#fieldsmapperToObject}}
					{{fieldName}}
				{{/fieldsmapperToObject}}
			);
	}
	
}
