package {{packageName}}.Mapper;

import java.time.LocalDateTime;

import com.aos.AOSBE.DTOS.*;
import com.aos.AOSBE.Entity.*;


public class {{className}}Mapper {
	public {{className}}DTOS mapper({{className}} entity) {
		return new {{className}}DTOS(
				{{#fields}}
				    entity.{{fieldName}},
				{{/fields}}
			);
	}
}
