package {{packageName}}.Service;

import java.util.List;
import java.util.Optional;
import org.springframework.beans.factory.annotation.Autowired;
import {{packageName}}.Entity.*;
import {{packageName}}.Repository.*;
import java.util.*;
import org.springframework.data.domain.Page;
import org.springframework.data.jpa.domain.Specification;
import org.springframework.data.domain.PageRequest;
import org.springframework.data.domain.Pageable;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
@Service
public class {{className}}Service {

	@Autowired
	private GenericSpecificationBuilder specBuilder;
	@Autowired
    private {{className}}Repository {{variableClassName}}Repository;

    public Page<{{className}}> {{variableClassName}}FindAll(int page, int size, Map<String, Object> filters) {
    	Pageable pageable = PageRequest.of(page, size);
		Specification<{{className}}> spec = specBuilder.buildFilter(filters);
		return {{variableClassName}}Repository.findAll(spec,pageable);
    }
    @Transactional
    public {{className}} {{variableClassName}}Save({{className}} {{variableClassName}}) {
        return {{variableClassName}}Repository.save({{variableClassName}});
    }
    public Optional<{{className}}> {{variableClassName}}FindById({{idType}} id) {
        return {{variableClassName}}Repository.findById(id);
    }
    @Transactional
    public void {{variableClassName}}DeleteById({{idType}} id) {
        {{variableClassName}}Repository.deleteById(id);
    }
}